.scale-60 {
    width: 60%;
}
.scale-70 {
    width: 70%;
}

.landing_bg {
    background-image: url("/img/land_image-01.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.land-bottom {
    background-image: url("/img/land_bottom-01.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   width: 100%;

}

.slogan {
    font-size: 24px;
    color: white;
}

div.trans {
    background: rgba(0, 0, 0, 0.432);
}

.fa {
    height: 60px;
    width: 60px;
    text-decoration: none;
    text-align: center;
    padding: 18px;
    border-radius: 50%;
    margin: 5px;

}
.fa:hover {
    opacity: 0.9;
    text-decoration: none;
    color: black;

}


  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-instagram {
    background: #125688;
    color: white;
  }

  .red {
    background-image: linear-gradient(to top, rgb(172, 172, 172), rgba(237,28,36,1));
  }

  @-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -moz-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -moz-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -moz-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
  @-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -moz-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -moz-transform: translateY(-15px);
      -ms-transform: translateY(-15px);
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }

  i {
    display: block;
    color: rgb(255, 204, 102);
  }

  .arrow {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -45px;
    margin-bottom: 30px;
    width: 40px;
    height: 60px;
  }

  .bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }
