.scale-30 {
    max-width: 30%;
}
.scale-40 {
    max-width: 40%;
}
.scale-60 {
    max-width: 60%;
}
.scale-70 {
    max-width: 70%;
}

.mobile-show {
    display: none;
}

.btn-custom {
    border: 2px solid  rgb(207, 207, 207);
    background-color: rgb(207, 207, 207);
    font-weight: bolder;
    font-size: larger;
    color:  black;
}

.form-custom {
    border: solid 1px #ffcc66;
    background-color: #ffcc664b;
}

.form-custom:focus {
    border: solid 3px #ffcc66;
    border-color: #ffcc66;
    box-shadow: inset 0 1px 1px rgba(0,0,0, 0.075), 0 0 5px rgba(255,204,102, 1);
}

.btn-custom:hover {
    border: 2px solid #ffcc66;
    background-color: #ffcc66;
    color: white;
}

.custom-alert {
    border: solid 2px red !important;
    background-color: white !important;
}

.custom-success {
    position: absolute;
    left: 35%;
    z-index: 1;
}

.text-red {
    color: red;
}

.landing_bg {
    background-image: url("/img/land_bg-01.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    max-width: 100%;
}

.slogan {
    font-size: 24px;
    color: white;
}

div.trans {
    background: rgba(0, 0, 0, 0.432);
}

.fa {
    height: 60px;
    width: 60px;
    text-decoration: none;
    text-align: center;
    padding: 18px;
    border-radius: 50%;
    margin: 5px;

}
.fa:hover {
    opacity: 0.9;
    text-decoration: none;
    color: black;

}

.fa-instagram {
    background: #f09433;
background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    color: white;
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .red {
    background-image: linear-gradient(to top, rgb(172, 172, 172), rgba(237,28,36,1));
  }

  @-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -moz-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -moz-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -moz-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
  @-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -moz-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -moz-transform: translateY(-15px);
      -ms-transform: translateY(-15px);
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }

  i {
    display: block;
    color: rgb(255, 204, 102);
  }

  .arrow {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -45px;
    margin-bottom: 30px;
    width: 40px;
    height: 60px;
  }

  .bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }

  @media only screen and (max-width: 768px) {
    .hide {
      display: none !important;
    }

    .slogan {
        font-size: 20px;
    }

    .landing_bg {
        background-image: url("/img/mobile_bg-01.svg");
        height: 100%;
    }

    .mobile-show {
        display: block;
    }

    .mobile-hide {
        display: none;
    }

    .mobile-text {
        color: white;
    }

    form label{
        color: #fff;
      }

      .form-custom {
        border: solid 1px #ffcc66;
        background-color: white;
    }

    .form-custom:focus {
        border-color: #ffcc66;
        box-shadow: inset 0 1px 1px rgba(0,0,0, 0.075), 0 0 5px rgba(255,204,102, 1);
    }

    .btn-custom {
        border: 2px solid white;
        background-color: white;
        font-weight: bolder;
        font-size: larger;
        color:  black;
    }

    .custom-success {
        position: static;
        left: 0%;
        margin-top: 0 !important;
    }

  }


